.attachment-picker {
    &-selection {
        position: relative;
        width: 13rem;
        height: 13rem;
        background-position: center;
        background-size: cover;

        .button {
            display: none;
            margin: .5rem .5rem .5rem 0;
            padding: .5rem .6rem;
        }

        .button:first-of-type {
            margin-left: .5rem;
        }

        &:hover .button {
            display: inline-block;
        }
    }

    &-many {
        display: flex;
        flex-wrap: wrap;
    }

    &-many &-selection {
        margin-bottom: 1rem;
        margin-right: 1rem;
        width: 10rem;
        height: 10rem;
    }

    &-actions {
        .button {
            margin-right: 1rem;
        }
    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        grid-gap: 1rem;
        gap: 1rem;

        div {
            padding-top: 100%;
            background-size: cover;
            background-position: center;
            cursor: pointer;

            &:hover {
                opacity: .5;
            }
        }
    }
}

.attachment-cropper-modal {
    min-height: 40vh;
}
