.crud-show {
    &-table {
        width: 100%;

        &-label {
            width: 20%;
            vertical-align: top;
        }

        &-value {
            width: 80%;
        }

        &-label,
        &-value {
            padding: 2rem;

            img {
                max-width: 33%;
            }
        }

        tr {
            border-bottom: $border-light;

            &:last-of-type {
                border: 0;
            }
        }
    }
}
